language: node_js
node_js:
  - 8.16.2
arch:
  - amd64
os: linux
dist: bionic

before_install:
  - curl https://install.meteor.com | /bin/sh
install:
  - npm install
jobs:
  include:
    - stage: "Lint & Test"
      script: npm run lint
    - script: npm run test
    - stage: Build
      script: npm run build
    - stage: "GitHub Release"
      script: skip
      deploy:
        provider: releases
        api_key: $GITHUB_OAUTH_TOKEN
        file:
          - build/app.tar.gz
          - build/installDeps.sh
        skip_cleanup: true
        draft: true
branches:
  only:
    - master
