name: Lint and test
on: [push]
defaults:
  run:
    shell: bash
    working-directory: app
jobs:
  push:
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v1
      - uses: actions/setup-node@v1
        with:
          node-version: 12.16.1
      - uses: meteorengineer/setup-meteor@v1
        with:
          meteor-release: 1.10.2
      - run: meteor npm install
      - run: npm run lint
      - run: npm run test
